<section class="block block-showcase block--dark block--skewed-right">
  <header class="block__header">
    <h2>User Friendly Control Panel</h2>
    <div class="container grid grid--1x2">
      <img class="block-showcase__image" src="/images/showcase.webp" alt="" />
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start and Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus beatae nesciunt esse illo mollitia similique veniam
                sint. Corrupti maxime rem sequi vero voluptatibus, sit
                necessitatibus.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start and Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus beatae nesciunt esse illo mollitia similique veniam
                sint. Corrupti maxime rem sequi vero voluptatibus, sit
                necessitatibus.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start and Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus beatae nesciunt esse illo mollitia similique veniam
                sint. Corrupti maxime rem sequi vero voluptatibus, sit
                necessitatibus.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>
</section>
