
:root{
--color-Alice-Blue: #F0F8FF;
--color-Antique-White: #FAEBD7;
--color-Aqua: #00FFFF;
--color-Aquamarine: #7FFFD4;
--color-Azure: #F0FFFF;
--color-Beige: #F5F5DC;
--color-Bisque: #FFE4C4;
--color-Blanched-Almond: #FFEBCD;
--color-Blue: #0000FF;
--color-Blue-Violet: #8A2BE2;
--color-Brown: #A52A2A;
--color-Burlywood: #DEB887;
--color-Cadet-Blue: #5F9EA0;
--color-Chartreuse: #7FFF00;
--color-Chocolate: #D2691E;
--color-Coral: #FF7F50;
--color-Cornflower-Blue: #6495ED;
--color-Cornsilk: #FFF8DC;
--color-Crimson: #DC143C;
--color-Dark-Blue: #00008B;
--color-Dark-Cyan: #008B8B;
--color-Dark-Goldenrod: #B8860B;
--color-Dark-Gray: #A9A9A9;
--color-Dark-Green: #006400;
--color-Dark-Khaki: #BDB76B;
--color-Dark-Magenta: #8B008B;
--color-Dark-Olive-Green: #556B2F;
--color-Dark-Orange: #FF8C00;
--color-Dark-Orchid: #9932CC;
--color-Dark-Red: #8B0000;
--color-Dark-Salmon: #E9967A;
--color-Dark-Sea-Green: #8FBC8F;
--color-Dark-Slate-Blue: #483D8B;
--color-Dark-Slate-Gray: #2F4F4F;
--color-Dark-Turquoise: #00CED1;
--color-Dark-Violet: #9400D3;
--color-Deep-Pink: #FF1493;
--color-Deep-Sky-Blue: #00BFFF;
--color-Dim-Gray: #696969;
--color-Dodger-Blue: #1E90FF;
--color-Firebrick: #B22222;
--color-Floral-White: #FFFAF0;
--color-Forest-Green: #228B22;
--color-Gainsboro: #DCDCDC;
--color-Ghost-White: #F8F8FF;
--color-Gold: #FFD700;
--color-Goldenrod: #DAA520;
--color-Gray: #808080;
--color-Green: #008000;
--color-Honeydew: #F0FFF0;

/* * Gradient */ 
linear-gradient(#F0F8FF, #FAEBD7);
linear-gradient(#00FFFF, #7FFFD4);
linear-gradient(#F0FFFF, #F5F5DC);
linear-gradient(#FFE4C4, #FFEBCD);
linear-gradient(#0000FF, #8A2BE2);
linear-gradient(#A52A2A, #DEB887);
linear-gradient(#5F9EA0, #7FFF00);
linear-gradient(#D2691E, #FF7F50);
linear-gradient(#6495ED, #FFF8DC);
 linear-gradient(#DC143C, #00008B);
 linear-gradient(#008B8B, #B8860B);
 linear-gradient(#A9A9A9, #006400);
 linear-gradient(#BDB76B, #8B008B);
 linear-gradient(#556B2F, #FF8C00);
 linear-gradient(#9932CC, #8B0000);
 linear-gradient(#E9967A, #8FBC8F);
 linear-gradient(#483D8B, #2F4F4F);
 linear-gradient(#00CED1, #9400D3);
 linear-gradient(#FF1493, #00BFFF);
 linear-gradient(#696969, #1E90FF);
 linear-gradient(#B22222, #FFFAF0);
 linear-gradient(#228B22, #DCDCDC);
 linear-gradient(#F8F8FF, #FFD700);
 linear-gradient(#DAA520, #808080);
 linear-gradient(#008000, #F0FFF0);
 linear-gradient(#FF4500, #FF1493);
 linear-gradient(#8B008B, #2E8B57);
 linear-gradient(#FF6347, #008080);
 linear-gradient(#FFA500, #800080);
 linear-gradient(#8B4513, #8B4513);
 linear-gradient(#FFC0CB, #32CD32);
 linear-gradient(#800000, #FF00FF);
 linear-gradient(#808000, #FF00FF);
 linear-gradient(#008080, #FF00FF);
 linear-gradient(#8B0000, #FF00FF);
 linear-gradient(#2F4F4F, #FF00FF);
 linear-gradient(#9400D3, #FF00FF);

}
